
/* Global */
body {
        font-family: Arial, sans-serif;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        background-color: #e3dbdb;
}
  
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
  
h1, h2, h3 {
    font-weight: bold;
}

h2 {
    color: #d03131;
    font-family: 'Times New Roman', Times, serif;
}
  
a {
    text-decoration: none;
    color: #0066cc;
}


/* Header */
header {
    background: linear-gradient(135deg, #ab1f2b, #ffcc00);
    background-color: #bdb847;
    color: #fff;
    padding: 20px;
    margin-bottom: 0.4%;
}
  
header h1 {
        margin: 0;
        font-size: 24px;
}
  
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
  
nav ul li {
        display: inline-block;
        margin-right: 10px;
}
  
nav ul li a {
        color: #fff;
        padding: 5px;
}
  

/* Main Content */
    main {
        background: linear-gradient(135deg, #e9ad2b, #861537);
        background-color: #fff;
        padding: 20px;
    }
  
    section {
        margin-bottom: 20px;
    }
  
    section h2 {
        margin-top: 0;
    }
  
    section p {
        margin-bottom: 10px;
    }
  
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
  
    li {
        margin-bottom: 10px;
    }

    #about {
        background-color: #00ccff;
    }
      
    #characters {
        background-color: #ff99cc;
    }
      
    #scenes {
        background-color: #99ffcc;
    }
      
    #soundtrack {
        background-color: #ffcc99;
    }


/* Image Styling */
    #myImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #myImage2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.7%;
        margin-top: 0.5%;
    }


/* Footer */
    footer {
        background-color: #380f0fdc;
        color: #ababab;
        padding: 20px;
        text-align: center;
    }
  
    footer a {
        color: #58131d8d;
    }
  
  